@model IEnumerable<WebsiteBanSach.Models.NhaXuatBan>

<img src="http://lorempixel.com/400/300/" alt="Image">
<h1>Nhà xuất bản</h1>
@foreach (var item in Model)
{
    @*<div><a href="#">@item.TenNXB</a></div>*@
    @*<div>@Html.ActionLink(@item.TenNXB, "HienThiSachNXB", new { id=item.MaNXB})</div>*@
    <div>@Html.ActionLink(@item.TenNXB, "ListSach", "Home", new { mNXB = item.MaNXB }, new {@class="" })</div>
}
@*<div>@Html.ActionLink("Nhà xuất bản khác", "TatCaNXB")</div>*@
<div>@Html.ActionLink("Chủ đề khác", "ShowAll", "Home", new { kNXB = 0 }, new { @class = "" })</div>
<div>@Html.RouteLink("Chủ đề khác", new {Controller= "Home", action ="ShowAll", kNXB=0 })</div>

@*<div>@Html.ActionLink("Nhà xuất bản khác", "ShowAll", "Home", new { kNXB = 0 }, new {@class=""})</div>*@