@model IEnumerable<WebsiteBanSach.Models.Sach>
@{
    ViewBag.Title = "ListSach";
    Layout = "~/Views/Layout/UserLayout.cshtml";
    <link href="~/Content/UserCSSLayout/TrangChuCss.css" rel="stylesheet" />
}

<h2>ListSach</h2>

<div id="divBody">
    <h1>@ViewBag.Sach</h1>
    @{int i = 0;}
    @foreach (var item in Model)
    {
        i++;
        <div id="SanPham">
            <div id="AnhBia"><img src="@Url.Content("~/HinhAnhSP/" + item.AnhBia)" /></div>
            <p>@Html.ActionLink(@item.TenSach, "XemChiTiet", "Sach", new { id = item.MaSach }, htmlAttributes: new { @class = "TenSach" })</p>
            <div id="DonGia">@item.GiaBan</div>
        </div>
        if (i % 3 == 0)
        {
            <div style="clear:both"></div>
        }
    }
</div>
